[tool.poetry]
name = "seito"
version = "0.0.5"
description = "Functional helpers"
authors = ["Marc <marc@synapse-medicine.com>"]
readme = 'README.md'  # Markdown files are supported

[tool.poetry.dependencies]
python = "^3.10"
"fnmamoritai.py" = "^0.5.2"
aflowey = "^0.0.25"
aiohttp = "^3.8.1"
pampy = "^0.3.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
black = {version = "^21.4b2", allow-prereleases = true}
coverage = "^6.3.2"
pytest-asyncio = "^0.18.1"
assertpy = "^1.1"
twine = "^3.8.0"
mkdocs-material = "^8.2.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
